body, html{
    margin: 0;
    height: 100%;
    text-align: center;
    background-image: url(https://cdn.glitch.com/452ef36b-46d0-4478-8d78-f5cc265ea425%2F13.jpg?v=1630440993940);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.center{
    display: flex;
    justify-content: center;
    text-align: center;
}
h1{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 60px;
    margin: 0;
}


.heading{
    background-color: rgba(21, 20, 20, 0.3);
    padding: 30px;
}

#countdown{
    background-color: rgba(21, 20, 20, 0.1);
    padding: 15px 25px;
    width: 90px;
    border-radius: 5px;
    font-size: 30px;
    border: 2px solid #fff;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
p{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: #534E52;
    padding: 0px;
    font-weight: 300;
}

ul{
    text-align: left;
}

li{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 200;
    padding: 5px;
    margin: 8px;

}
.background {
    background-color: rgba(21, 20, 20, 0.6);
    padding: 10px;
    margin-top: 30px;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.link{
    padding: 10px;
}
.home{
    margin: 10px;
}

#myButton{
    background-color: transparent;
    border: none;
    margin-top: 20px;
}

#player{
    margin-top: 20px;
}





